body {
	background-color: #272727;
}
.btn-control {
	height: 5em;
}

#debugConsole {
	background-color: #0f0f0f;
	font-family: monospace;
	height:200px;
	overflow:scroll;
}

#debugConsole p {
	padding: 0;
	margin: 0;
	color: greenyellow;
}

#debugConsole p.error {
	color: red;
}

#container_cam {
	text-align: center;
}

#container_radar {
	text-align: center;
}

#sld_cam_hor {
	margin-top: 30px;
}

#radar{
	position:relative;
	width:321px;
	height:321px;
	background:#222 url(../img/radar.png);
	border-radius:320px;
	overflow:hidden;
}

#rad{
	position:absolute;
	width:321px;
	height:321px;
	background:url(../img/rad.png);
}

.obj{
	background:#cf5;
	position:absolute;
	border-radius:10px;
	width:4px;
	height:4px;
	margin-top:-2px;
	margin-left:-2px;
	box-shadow:0 0 10px 5px rgba(100,255,0,0.5);
	opacity:0.2;
}

#radar_dist {
	padding: 5px;
	color: yellowgreen;
}

.status_num {
	font-size: 1.5em;
	color: yellowgreen;
}