body {
	background-color: #272727;
}
.btn-control {
	height: 5em;
}

#debugConsole {
	background-color: #0f0f0f;
	font-family: monospace;
	height:200px;
	overflow:scroll;
}

#debugConsole p {
	padding: 0;
	margin: 0;
	color: greenyellow;
}

#debugConsole p.error {
	color: red;
}

#sld_cam_hor {
	margin-bottom: 50px;
}

#radar{
	position:relative;
	width:321px;
	height:321px;
	background:#222 url(../img/radar.png);
	border-radius:320px;
}
#rad{
	position:absolute;
	width:321px;
	height:321px; background:url(../img/rad.png);
}
